<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head.ejs') %>
<body>
    <h1>Hola soy el INDEX</h1>
    <br>
    <hr>
    <br>
    <ul>
        <li><a href="./products/list">Lista de Productos</a></li>
        <li><a href="./products/create">Crear Producto</a></li>
        <li><a href="./users/login">Login de Usuarios</a></li>
    </ul>
</body>
</html>