<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <div class="container-fluid">
        <%- include ('../partials/navbar.ejs') %>
        <div class="card" style="width: 18rem;">
            <img src="/img/products/product-1700580769372.png" class="card-img-top" alt="image">
            <p class="d-inline-flex gap-1">
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Link with href
                </a>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
                </div>
            </div>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <%- include ('../partials/footer.ejs') %>
</body>
</html>